.employee {
  &__wrapper {
    height: calc(100% - 45px);
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      font-family: "Inter", "sans-serif";
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    gap: 15px;
    &__search {
      position: relative;
      width: 100%;
      max-width: 450px;
      display: flex;
      align-items: center;
      gap: 15px;
      &-icon {
        position: absolute;
        width: 16px;
        height: 16px;
        z-index: 1;
        left: 10px;
      }
      &-input {
        width: 100%;
        padding: 8px 32px;
        border: 1px solid $gray;
        border-radius: 4px;
      }
    }
  }

  &__filter {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid $dark-gray;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: $white-gray;
    &__menu {
      position: absolute;
      width: 100%;
      max-width: 160px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      top: 20px;
      right: 10px;
      padding: 12px 24px;
      box-shadow: 0 0 8px 0 rgba($color: #000000, $alpha: 0.25);
      background-color: $white;
      &-item {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-family: "Inter", "sans-serif";
        font-size: 14px;
        font-weight: 500;
      }
      &-check {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
        &_style {
          &::before {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            border: 1px solid $purple;
            border-radius: 4px; 
          }
        }
      }
      &-check:checked + &-check_style::before {
        background-image: url("@/assets/icons/checkbox-checked__icon.svg");
      }
    }
  }

  &__table {
    padding: 20px;
    border-spacing: 0 20px;
    &__head {
      &-text {
        color: $deep-dark-gray;
        font-family: "Inter", "sans-serif";
        font-size: 12px;
        font-weight: 600;
        text-align: left;
      }
    }
    &__content {
      &-name,
      &-status {
        font-family: "Inter", "sans-serif";
        font-size: 14px;
        font-weight: 500;
        color: $black;
      }
      &-company,
      &-position,
      &-email,
      &-tnumber {
        font-family: "Inter", "sans-serif";
        font-size: 14px;
        font-weight: 400;
        color: $indigo-gray;
      }
      &-show {
        text-align: right;
        &-link {
          text-decoration: none;
          color: $purple;
          cursor: pointer;
        }
      }
    }
  }
}

.pagination {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  gap: 8px;
  background-color: $deep-light-gray;
  &__pages {
    font-family: "Inter", "sans-serif";
    font-size: 12px;
    font-weight: 700;
    color: $black-gray;
  }
  &__next-page,
  &__prev-page,
  &__first-page,
  &__last-page {
    cursor: pointer;
  }
}

.holiday {
  color: $yellow;
}

.work {
  color: $green;
}

.fired {
  color: $dark-red;
}

