$white: #ffffff;
$white-gray: #F2F2F2;
$black: #000000;
$black-gray: #231F20;
$gray: #E2E8F0;
$template-text: #737373;
$head-table-bg: #F8FAFC;
$light-gray: #C3C3C3;
$deep-light-gray: #DFDFDF;
$dark-gray: #A1A1A1;
$deep-dark-gray: #9CA3AF;
$red: #DB0000;
$dark-red: #D23131;
$yellow: #FAC50A;
$green: #3E9D12;
$indigo-gray: #475569;
$indigo-dark: #1E293B;
$indigo-deep-dark: #0F172A;
$purple: #6366F1;
$purple-deep: #6366F1;
$main-gray-bg: #F7F7F7;
$light-blue: #4FB0E0;
