//Fonts

//family 
$font-inter: "Inter", "sans-serif";

//weight
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

//size
$font-small-size: 12px;
$font-reg-size: 14px;
$font-med-size: 16px;
$font-head-size: 30px;
