@use "global/colors" as c;
@use "global/fonts" as f;
@use "global/mixins" as m;
@use "global/variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
.holiday {
  color: c.$yellow;
}

.work {
  color: c.$green;
}

.fired {
  color: c.$dark-red;
}
