//Global
@import "./global/colors";
@import "./global/fonts";

//Layouts
@import "./layouts/authLayout.scss";
@import "./layouts/dashboardLayout.scss";

//UI
@import "./components/ui/defaultButton.scss";
@import "./components/ui/defaultInput.scss";

//Components
@import "./components/authLogin.scss";
@import "./components/listEmployee.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}