.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 344px;
  &-text {
    font-family: "Inter", "sans-serif";
    font-size: 14px;
    font-weight: 500;
    color: $indigo-gray;
  }
  &-inner {
    margin-top: 4px;
    border: 1px solid $gray;
    padding: 8px 14px;
    width: 100%;
  }
}
